<!DOCTYPE html>
<html>
  <head>
    <title>CatBlog2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", destroy_user_session_path, :method=>'delete' %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "log in", user_session_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

    <%= yield %>

  </body>
</html>
